* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_3 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_10 {
  width: 100%;
  height: 100%;
  background: url("../images/v1_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 261px;
  overflow: hidden;
}
.v1_6 {
  width: 428px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 232px;
  left: 113px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Vina Sans;
  font-weight: Regular;
  font-size: 268px;
  opacity: 1;
  text-align: left;
}
.v1_7 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 372px;
  left: 327px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Vina Sans;
  font-weight: Regular;
  font-size: 431px;
  opacity: 1;
  text-align: left;
}
